.logo{
    width: 20%;
    margin-left: 130px;

}

.hero1{
    /* width: 20%;
    margin-left: 130px; */
}

.sec_1_1{
    padding-left: 100px;

    padding-right: 100px;
    background-color: grey;
}


.sec_1_p1{
    text-decoration: underline;
    font-weight: bold;
    font-size: 30px;
}

.header_clss{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

.group1{

    padding-left: 30px;
    
}

.word1{
  
}

.word2{
 
}

.text1{
    text-align: center;
}

.text{
    text-align: center;

}


.text2{
    text-align: center;
}

.text3{
    text-align: center;
}

.text6{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}




